<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron text-center">
      <h1>'Allo, 'Allo!</h1>

      <p class="lead" >
        <img class="animated infinite" ng-class="dashboard.classAnimation" src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>

      <p >
        <button type="button" class="btn btn-lg btn-info" ng-click="dashboard.showInfoToastr()">Info Toastr</button>
        <button type="button" class="btn btn-lg btn-danger" ng-click="dashboard.showErrorToastr()">Alert Toastr</button>
      </p>
    </div>
  </div>
</div>
